{% extends 'convert/base.html' %}

{% block content %}

	<h1>Currency Exchange Rates</h1>
    <table id="neutrTable">
        <thead>
			<tr>
				<th > </th>
				<th >USD to PEN</th>
                <th >PEN to USD</th>
			</tr>
		</thead>

                <tr >
                    <td ><a href="{{ neutral_provider.website }}">{{ neutral_provider.name }}</a></td>
                    {% for rate in USDtoPEN_rate_list %}
                        {% if rate.provider == neutral_provider.id  %}
                            <td class="neutr-rate" value="{{ rate.exchange_rate}}">{{ rate.exchange_rate}}</td>
                        {% endif %}
                    {% endfor %}
                    {% for rate in PENtoUSD_rate_list %}
                        {% if rate.provider == neutral_provider.id  %}
                            <td class="neutr-rate" value="{{ rate.exchange_rate}}">{{ rate.exchange_rate}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>


    </table>
	<!-- Table to display exchange rates -->
    <table onload="highlight_highest_lowest()" id="myTable" class="sortable">
        <thead>
			<tr>
				<th >Company</th>
				<th >USD to PEN</th>
                <th >PEN to USD</th>
			</tr>
		</thead>
        {% if provider_list %}
            {% for provider in provider_list %}
                {% if not provider.is_neutral %}
                <tr >
                    <td ><a href="{{ provider.website }}">{{ provider.name }}</a></td>
                    {% for rate in USDtoPEN_rate_list %}
                        {% if rate.provider == provider.id  %}
                            <td class="rate" value="{{ rate.exchange_rate}}">{{ rate.exchange_rate}}</td>
                        {% endif %}
                    {% endfor %}
                    {% for rate in PENtoUSD_rate_list %}
                        {% if rate.provider == provider.id  %}
                            <td class="rate" value="{{ rate.exchange_rate}}">{{ rate.exchange_rate}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Providers are available.</p>
        {% endif %}

    </table>
    <div id="charts" style="display: flex; flex-direction: row;">
        {% if chart1 %}
            <div style="flex: 1;">{{ chart1|safe }}</div>
        {% endif %}
        {% if chart2 %}
            <div style="flex: 1;">{{ chart2|safe }}</div>
        {% endif %}
    </div>

<script>
    // Add an event listener to the window object to call the function when the page finishes loading
    window.addEventListener('load', function() {
        highlight_highest_lowest();
    });

</script>

{% endblock %}
